[submodule "client"]
	path = client
	url = https://github.com/Apptive-Game-Team/MaechuriClient
[submodule "ai-server"]
	path = ai-server
	url = https://github.com/Apptive-Game-Team/MaechuriAIServer
[submodule "main-server"]
	path = main-server
	url = https://github.com/Apptive-Game-Team/MaechuriMainServer
[submodule "database"]
	path = database
	url = https://github.com/Apptive-Game-Team/MaechuriDatabase
